.layout-container {
  display: flex;
  height: 100vh;
}

.column {
  position: relative; /* Untuk memastikan overlay berada di atas gambar */
  flex: 1;
  overflow: hidden;
}
.column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; /* Efek zoom saat hover */
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the color and opacity as needed */
}

.content-overlay {
  position: absolute;
  z-index: 1; /* Ensure the content is above the image overlay */
}

.title-image {
  max-width: 100%;
  height: auto;
}
.column:hover img {
  transform: scale(1.05);
}

.text-overlay {
  position: absolute;
  color: white;
  padding: 20px;
}
/* Footage */
.top-left {
  top: 20px;
  /* left: 7rem; */
}
/* Frontpage */
.bottom-right {
  bottom: 20px;
}
/* Tones */
.bottom-center {
  bottom: 16rem;
  /* left: 28%; */
}
.bottom-right {
  right: 20px;
}
.h2 h2 {
  font-size: 6rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .bottom-center h2{
  font-size: 4rem;
}

.text-overlay h2{
  font-size: 4rem;
}
.bottom-right h2{
  font-size: 5rem;
}
.plus-icon img{
  width: 80px;
  height: 80px;
  margin: 0 5px;
}
/* h2 .view-more-btn {
  margin-bottom: 10rem;
  padding: 8px 16px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
} */

.view-more-btn {
  margin-top: -10rem;
  padding: 8px 16px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-out, color 0.3s ease-in;
}

.view-more-btn:hover {
  background-color: white;
  color: black;
}