.navbar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in, transform 0.1s ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
}

.navbar-brand img {
  height: 250px;
  transition: filter 0.3s ease;
}

.hamburger {
  background: none;
  border: none;
}

.hamburger-icon-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
  border: none;
}

.hamburger-icon,
.hamburger-icon-rotated {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.hamburger-icon-rotated {
  opacity: 0;
  transform: rotate(-360deg);
}

.hamburger:hover .hamburger-icon-wrapper {
  transform: rotate(360deg);
}

.hamburger:hover .hamburger-icon {
  opacity: 0;
}

.hamburger:hover .hamburger-icon-rotated {
  opacity: 1;
  transform: rotate(0deg);
}

.hamburger img {
  width: 100px;
  transition: filter 0.3s ease;
}

.menu-overlay {
  position: absolute; /* Ubah menjadi absolute */
  top: 80%; /* Tepat di bawah tombol hamburger */
  left: 45%; /* Tepat sejajar dengan tombol hamburger */
  width: 100%; /* Sesuai dengan lebar navbar */
  /* background-color: rgba(21, 20, 68, 0.9); */
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 999; /* Pastikan di atas elemen lain */
  border-radius: 0 0 10px 10px; /* Tambahkan border untuk estetika */
}

.menu-overlay.menu-open {
  opacity: 1;
  visibility: visible;
  width: 100%;
  max-width: 550px;
/* justify-content: flex-end; */
}

.vertical-menu {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 100%;
}

.vertical-menu-item {
  line-height: 3.5rem;
  position: relative;
  top: 80%; /* Tepat di bawah tombol hamburger */
  left: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: 3rem; /* Ukuran font lebih kecil untuk list */
  margin: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  width: 100%; /* Sesuaikan dengan lebar menu */
}

.vertical-menu-item:hover {
  color: rgba(0, 0, 255, 0.797);
  transform: scale(1.05);
}
