.tales-container {
  display: flex;
  height: 100vh;
  position: relative;
}

.tales-left, .tales-right {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.tales-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-100%);
  z-index: 10;
  font-size: 6rem;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  pointer-events: none;
  transition: transform 0.7s ease-out;
}

.rotating-t {
  width: 25rem;
  height: 25rem;
  /* animation: rotate360 10s linear infinite; */
}

/* @keyframes rotate360 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
.tales-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  transition: background-color 0.3s ease;
  
}

.tales-left:hover .tales-overlay,
.tales-right:hover .tales-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.tales-subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.tales-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tales-description {
  margin-bottom: 2rem;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.view-more-btn-story {
  padding: 20px 50px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  align-self: center;
}

.view-more-btn-story:hover {
  background-color: #fff;
  color: #000;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}